/* root colours */
:root{
    --base: #FAFAFA;
    --text: #906464;
    --primary: #464D77;
    --secondary:#696773;
    --accent: #F6EAEE
}

/* Setting general parameters to all pages */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: var(--base);
}

a {
    text-decoration: none;
}

h1, p{
    font-family: 'Poppins', sans-serif;
}

/* Style the nav container */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Designing p, a in the footer and the nav menu in the header, do that here because they share same
css properties
 */

footer p, a,
nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--secondary);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
}


nav a:hover {
    background: var(--accent);
    color: white;
    box-shadow: 0 0 12px rgba(28,93,153,0.4);
    transform: translateY(-2px);
}


footer div:last-of-type, menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.logo img {
    height: 100px;
    width: auto;
}

/* Designing the greeting block */
#greeting_section {
    text-align: center;
}

/* Setting some styling for my h1 element */
#greeting_section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: 2px;
    animation: fadeInUp 1.2s ease;
    text-align: center;
}

/* Smooth animation of getting up */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Designing the main section with dog info */
#dog_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem; /* add spacing between cards */
}

#dog_content div img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#dog_content div h3 {
    text-align: center;
    color: var(--primary);
}

#dog_content div {
    padding: 1rem;
    border-radius: 1rem;
    color: var(--secondary);
    background-color: #E4EFF6;
}

#dog_content div:hover {
    filter: drop-shadow(var(--accent));
}


/* Footer nav bar - making it the same as header as header */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    backdrop-filter: blur(8px);
}
